{#
/**
 * @file test_entity.html.twig
 * Default theme implementation to present Test entity data.
 *
 * This template is used when viewing Test entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_test_entity()
 *
 * @ingroup themeable
 */
#}
{#<div{{ attributes.addClass('test_entity') }}>#}

{#{{ dump(tipoTest) }}#}

  {% if mode == "teaser" %}
      {% include directory ~ '/templates/test-teaser.html.twig' %}
    {% elseif tipoTest == 11  %}
      {% include directory ~ '/templates/test-full-resultados.html.twig' %}
    {% elseif tipoTest == 12  %}
      {% include directory ~ '/templates/test-full-imagenes.html.twig' %}
    {% else %}
      {% include directory ~ '/templates/test-full.html.twig' %}
  {% endif %}
{#</div>#}

