{% if data['curiosidades']|length > 0 %}


    <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2 mt-5 mb-5" data-ride="carousel">

        <!--Controls-->
        <div class="row">

            <div class="col-md-6 col-xs-12">
                <h2 class="font-weight-bold text-left dark-azul-fuerte-text pb-2">Sabias que...</h2>
            </div>
            <div class="col-md-6 col-xs-12 hidden-phone">
                <div class="controls-top">
                    <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"><i
                                class="fas fa-chevron-left"></i></a>
                    <a class="btn-floating" href="#carousel-example-multi" data-slide="next"><i
                                class="fas fa-chevron-right"></i></a>
                </div>
            </div>

        </div>

        <div class="carousel-inner v-2" role="listbox">

            {% for index, curio in data['curiosidades'] %}

                {% if index == 0 %}
                    <div class="carousel-item active">
                {% else %}
                     <div class="carousel-item">
                {% endif %}

                    <div class="col-12 col-md-4 col-lg-3">

                        <div class="card text-center btn-pink lighten-1 text-white">
                            <div class="card-body">
                                <p class="pt-2"><i class="fas fa-{{ curio.icono }} fa-2x"></i></p>
                                {#<h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">Digital Marketing</a></h5>#}
                                <p class="mb-4 text-curiosidad">{{ curio.decrip }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

{% endif %}