{% if data['beneficios']|length > 0 %}


    <!--Section: Not enough-->
    <section>

        <h2 class="font-weight-bold text-center dark-azul-fuerte-text pb-2 mt-5">Pensando en ti</h2>
        <hr class="w-header hr-fucsia my-4">
        <p class="lead text-center text-muted pt-2 mb-5">Nuestra prioridad es contribuir en tu formación y que obtengas los mayores beneficios </p>
        <!--First row-->
        <div class="row features-small mb-5 mt-3 wow fadeIn">

            <!--First column-->
            <div class="col-md-4">
                <!--First row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Crecimiento</h6>
                        <p class="grey-text">Queremos acompañarte en tu crecimiento intelectual y personal
                        </p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/First row-->

                <!--Second row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Diviértete</h6>
                        <p class="grey-text">Aprovecha al máximo tu tiempo libre de una forma amena y diverida </p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Second row-->

                <!--Third row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Nos importa tu valoración</h6>
                        <p class="grey-text">Nos ayudas hacer mejores cada día, valorando cada Test</p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Third row-->

                <!--Fourth row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Medir tus conocimientos</h6>
                        <p class="grey-text">En TetsDe te enfrentáras a muchos desafíos que fortalezarán tus conomientos</p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Fourth row-->
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-4 flex-center">
                <img src="https://mdbootstrap.com/img/Others/screens.png" alt="MDB Magazine Template displayed on iPhone"
                     class="z-depth-0 img-fluid">
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-md-4 mt-2">
                <!--First row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Benficios por Puntos</h6>
                        <p class="grey-text">
                        <ul>
                            <li>- Obtendrás puntos</li>
                            <li>- Tarjetas de regalos de amazon</li>
                            <li>- Conversión de puntos a PayPal</li>
                            <li>- Porciento de descuentos en sitios de compras online</li>
                        </ul>
                        </p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/First row-->

                <!--Second row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Como obtener puntos</h6>
                        <p class="grey-text">
                        <ul>
                            <li>- Realizando Test</li>
                            <li>- Registrandote en la Plataforma</li>
                            <li>- Invitando amigos</li>
                            <li>- Valorando los Tests</li>
                        </ul>
                        </p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Second row-->

                <!--Third row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Compatibilidad</h6>
                        <p class="grey-text">TestsDe es accesible desde cualquier dispositivo móvil y estamos disponibles 24/7 todos los días del año
                        </p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Third row-->

                <!--Fourth row-->
                <div class="row">
                    <div class="col-2">
                        <i class="fas fa-check-circle fa-2x indigo-text"></i>
                    </div>
                    <div class="col-10">
                        <h6 class="feature-title">Control de tus actividades</h6>
                        <p class="grey-text">En TestDe cuentas con un panel de seguimiento detallado de todas tus actividades dentro de la plataforma</p>
                        <div style="height:15px"></div>
                    </div>
                </div>
                <!--/Fourth row-->
            </div>
            <!--/Third column-->

        </div>
        <!--/First row-->

    </section>
    <!--Section: Not enough-->

    <hr class="mb-5">

{% endif %}