<section>
    <h1 class="font-weight-bold text-center dark-azul-fuerte-text pb-2">{{ data.subtitulo }}</h1>

    <hr class="w-header hr-fucsia my-4">
    <div class="lead text-center text-muted pt-2 mb-5 text-info-cat">{{ data.subdescription | raw }}</div>

</section>