<section>
    <h2 class="font-weight-bold text-center dark-azul-fuerte-text pb-2">{{ data.catName }}</h2>

    <hr class="w-header hr-fucsia my-4">
    <p class="lead text-center text-muted pt-2 mb-5 text-info-cat">Estos son los quiz de la categoría historia. Preguntas sobre hechos históricos, batallas que cambiaron el rumbo de la historia y sus protagonistas. Nuestros antepasados así como el desarrollo de la religión en cada etapa de la humanidad. No olvides darnos tu valoración al terminar cada uno.</p>

</section>