<table width="100%" border="0" align="center" cellpadding="50">
  <tr>
      <td bgcolor="#d9edf7" valign="middle">

        <table border="0" align="center" cellpadding="0" cellspacing="0"
               style="font-family: 'Arial,Helvetica,sans-serif';font-size: 22px;width: 500px;">
          <tr>
            <td valign="middle">

                <div class="logo" style="text-align: center;width: 600px">
                    <h2 style="color: #0a6eb4">LOGO</h2><img src="{{ data.imagen }}" style="text-align:center;">

                </div>

                <div style="width: 600px;">

                  {{ data.body }}

                </div>

                <div class="footer" style="text-align: center;width: 100%;width: 600px;font-size: 12px">

                     <h2 style="background-color: #0a65aa;color: #FFFFFF;margin-top: 40px;margin-bottom: 20px;padding:20px;font-size: 20px;">Visistanos en redes sociales</h2>

                    <div>

                      <a style="width: 61.1px;height: 61.1px;color: #fff;display: inline-block;position: relative;
                                z-index: 1;
                                display: inline-block;
                                padding: 0;
                                margin: 10px;
                                overflow: hidden;
                                vertical-align: middle;
                                cursor: pointer;
                                border-radius: 50%;
                                -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
                                box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
                                -webkit-transition: all 0.2s ease-in-out;
                                transition: all 0.2s ease-in-out;
                                background-color: #3b5998 !important;" href="https://www.facebook.com/mdbootstrap" target="_blank">
                        </i>
                      </a>

                        <button type="button" class="btn btn-fb waves-effect waves-light">
                          <i class="fab fa-facebook-f left"></i> Facebook</button>

                        <button type="button" class="btn btn-tw waves-effect waves-light">
                          <i class="fab fa-twitter left"></i> Twitter</button>

                        <button type="button" class="btn btn-ins waves-effect waves-light">
                          <i class="fab fa-instagram left"></i> Instagram</button>

                        <a href="https://www.facebook.com/mdbootstrap" target="_blank">
                          <i class="fab fa-facebook-f mr-3"></i>
                        </a>
                    </div>


                  <div style="text-align: center;margin: 60px 20px 20px;">
                    <a href="http://www.testsde.com">www.testsde.com</a>
                  </div>

                  <div style="text-align: center;margin: 20px">
                    Recuerda, Nuestra plataforma <strong>TestsDe</strong> nunca te pedir&aacute; por email datos bancarios ni de tu tarjeta de cr&eacute;dito o d&eacute;bito.<br>
                    Si recibes un correo electrónico de esta índole, elimínalo inmediatamente.<br>
                    Así mismo, te aconsejamos que si tienes una cuenta en nuestra plataforma cambiar tu contraseña de acceso regularmente.
                  </div>
                  <div style="text-align: center;margin: 20px">
                    Este correo es enviado desde la plataforma <strong>TestsDe</strong>, Si por algun motivo no desea recibir estos correo puede <a style="font-weight: bold" href="#">darse de alta</a>
                  </div>

                  <div style="text-align: center;margin: 20px">
                    <strong>TestsDe</strong> | Calle la huerta 6 1A, Alcorcón España
                  </div>

                </div>
            </td>
          </tr>
        </table>

      </td>
    </tr>

  </table>