<div class="container-gracias-referencias">
     <blockquote class="blockquote bq-info mb-4">
        <p class="bq-title"><span class="sub-titulo">{{ data['name'] }},</span> Gracia por enviarnos tu sugerencia </p>
    </blockquote>
</div>

{{ data['tests_destacados'] }}

