<table width="100%" border="0" align="center" cellpadding="50">
  <tr>
    <td bgcolor="#E9E9E9">
      <table border="0" align="center" cellpadding="15" cellspacing="0"
             style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, sans-serif; color:gray;width: 500px;">
        <tr>
          <td align="center" valign="middle" bgcolor="#FFFFFF"><img src="{{ site_logo }}" style="text-align:center;">
          </td>
        </tr>
        <tr>
          <td valign="middle" bgcolor="#FFFFFF">{{ message.body }}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
