<div class="container">

    <h1 class="text-center" id="privacidad">Política de privacidad</h1>

    <h3>Identificación del Responsable del Tratamiento</h3>
    <p>ConocerDe es el RESPONSABLE del tratamiento de los datos personales del USUARIO y le informa que estos datos serán tratados de conformidad con lo dispuesto en el Reglamento (UE) 2016/679 de 27 de abril (GDPR) y la Ley Orgánica 3/2018 de 5 de diciembre (LOPDGDD).</p>
    <p>Puede contactar con el Responsable a través de la dirección de correo electrónico <a href="mailto:privacidad@conocerde.com">privacidad@conocerde.com</a>.</p>

    <h3>Finalidades de los tratamientos</h3>
    <ol>
        <li>Responder a las cuestiones que el interesado haga llegar al Responsable.
            <ul>
                <li>Plazo de conservación: Los datos serán tratados hasta resolver la cuestión planteada por el interesado. Tras esto, serán conservados durante cinco (5) años para la posible formulación, ejercicio o la defensa de reclamaciones.</li>
                <li>Base jurídica: consentimiento del interesado.</li>
            </ul>
        </li>
    </ol>
    <ol start="2">
        <li>Gestionar la participación del interesado en los procesos de selección del Responsable.
            <ul>
                <li>Plazo de conservación: Conservaremos los datos durante dos (2) años desde su recogida.</li>
                <li>Base jurídica: consentimiento del interesado.</li>
            </ul>
        </li>
    </ol>

    <h3>Estos son los datos que podemos tener de un usuario:</h3>
    <p>Nombre y apellidos: si los completó en el registro o si los tiene en Facebook y se logueo a través de la Red social.</p>
    <p>Foto de perfil: si la ha subido el usuario o si la tiene en Facebook y optó por este modo de registro.</p>
    <p>Correo electrónico: En ambos casos al tratarse de un campo de verificación para acciones futuras.</p>

    <h3>¿Con qué finalidad tenemos estos datos?:</h3>
    <p>1- Envío de información relevante a nuestra web</p>
    <p>2- ¿Por cuánto tiempo conservamos sus datos?</p>
    <p>Conservamos sus datos durante un año desde su último acceso a www.conocerde.com</p>

    <h3>Destinatarios de sus datos</h3>
    <p>El Responsable contrata con terceros encargados del tratamiento para poder prestar sus servicios. Con excepción de dichas entidades, no se comunicarán sus datos a otros terceros. Si por alguna razón fuera necesario comunicar dichos datos a terceros, se le informará previamente y, en su caso, se le solicitará su consentimiento y se especificarán las finalidades de la comunicación y la identidad del tercero al que van a ser comunicados.</p>
    <p>Todo ello, con excepción de los supuestos en los que un requerimiento legal obligue a comunicar dichos datos a un tercero.</p>

    <h3>Derechos</h3>
    <p>Las personas que nos facilitan sus datos gozan de los siguientes derechos en relación a los mismos:</p>
    <ol>
        <li>Derecho de acceso</li>
        <li>Derecho de rectificación o supresión</li>
        <li>Derecho a la limitación del tratamiento</li>
        <li>Derecho a la portabilidad</li>
        <li>Derecho de oposición</li>
        <li>Derecho a revocar el consentimiento</li>
    </ol>
    <p>Si quiere obtener más información acerca de sus derechos, le sugerimos que visite la página web de la Agencia Española de Protección de Datos.</p>
    <p>El ejercicio de estos derechos podrá realizarse enviando un email a <a href="mailto:privacidad@conocerde.com">privacidad@conocerde.com</a>. Indicando claramente qué derecho desea ejercer y aportando una copia de su documento de identidad para acreditar su identificación. También pueden dirigirse a través del correo postal al domicilio social del Responsable que figura en el punto 1 de la presente Política de Privacidad.</p>
    <p>Adicionalmente, le informamos acerca de la posibilidad de presentar una reclamación ante la Autoridad de Control competente, en este caso, la Agencia Española de Protección de Datos, especialmente, en caso de que no haya obtenido satisfacción en el ejercicio de sus derechos. Puede ponerse en contacto con la Agencia Española de Protección de Datos a través de sus teléfonos 901 100 099 y 912 663 517 o visitándoles a su dirección C/ Jorge Juan, 6. 28001 – Madrid.</p>
    <h3>Procedencia de los datos</h3>
    <p>La totalidad de los datos recabados proceden del interesado.</p>


</div>