<div class="container">
   <h1 class="text-center">Aviso Legal</h1>


    <h3> Datos identificativos</h3>
    <p>ConocerDe es titular de www.conocerde.com</p>
    <p>Cumpliendo lo establecido en el artículo 10 de la Ley 34/2002, de 11 de julio, de servicios de la sociedad de la información y de comercio electrónico, a continuación, proporcionamos los datos necesarios del titular de la página web <a href="https://www.conocerde.com">www.conocerde.com</a> (en adelante, la "Página Web") prestador del servicio:</p>
    <ul>
        <li>- Nombre o denominación social: ConocerDe</li>
        <li>– Residencia o domicilio: Calle La huerta 6, piso 1 Puerta A – 28921 Alcorcón Madrid (España)</li>
        <li>– Dirección de correo electrónico: <a href="mailto:privacidad@conocerde.com">privacidad@conocerde.com</a></li>

    </ul>

    <p>Las presentes condiciones generales de uso y navegación (en adelante, las “Condiciones”), tienen como objetivo regular la relación entre el titular de la página web, como prestador del servicio, y los usuarios que acceden, navegan y disfrutan del servicio ofrecido (en adelante, referido de forma individual como el “Usuario” o de forma colectiva como los “Usuarios”).</p>

    <h3>Responsabilidades</h3>
    <p>El Usuario acepta voluntaria y expresamente que el uso del Sitio www.conocerde.com se realiza en todo caso bajo su única y exclusiva responsabilidad.<br>
     En la utilización del Sitio www.conocerde.com, el Usuario se compromete a no llevar a cabo ninguna conducta que pudiera dañar la imagen, los intereses y los derechos del sitio web o de terceros o que pudiera dañarlo, inutilizarlo o sobrecargarlo, o que impidiera, de cualquier forma, la normal utilización del mismo. www.conocerde.com se reserva el derecho de retirar todos aquellos comentarios y aportaciones que vulneren el respeto a la dignidad de las personas, que sean discriminatorios, xenófobos, racistas, pornográficos, que atenten contra la juventud o la infancia, el orden o la seguridad pública o que, a su juicio, no resultaran adecuados para su publicación.</p>

    <p>Los Contenidos del Sitio www.conocerde.com son puestos a disposición del Usuario por ConocerDe con información procedente tanto de fuentes propias como de terceros. www.conocderde.com procura que los Contenidos sean de la mayor calidad posible y estén razonablemente actualizados</p>


    <p><strong>Suspensión de la Página Web</strong></p>

    <p>El funcionamiento de la Página Web se apoya en servidores de empresas prestadoras de servicios, conectados mediante infraestructuras de comunicaciones de carácter público y privado.</p>

    <p>El titular de la Página Web hará todo lo posible para garantizar el correcto funcionamiento de ésta, sin embargo, no puede asegurar la ausencia de interrupciones por razones de tipo técnico con la finalidad de realizar tareas de reparación, y/o mantenimiento o de falta de cobertura o fallos en los equipos y/o de las redes necesarias para la transmisión de datos, que son ajenas a su control.</p>

    <p>Así, el acceso a la Página Web puede verse suspendido por causas de fuerza mayor (causas imprevisibles o que, previstas o previsibles, son inevitables) tales como las se expresan a continuación a título enumerativo, pero no limitativo:</p>

    <ol>
        <li>Fallos en el suministro de red eléctrica o telefónica,</li>
        <li>Ataques con virus a los servidores que soportan la Página Web,</li>
        <li>Errores de los usuarios en el acceso la Página Web,</li>
        <li>Incendios, inundaciones, terremotos u otros hechos de la naturaleza,</li>
        <li>Huelgas o conflictos laborales,</li>
        <li>Conflictos bélicos u otras situaciones de fuerza mayor.</li>
    </ol>
    <p>El titular de la Página Web queda exonerado de cualquier tipo de responsabilidad si llegasen a materializarse cualquiera de las circunstancias indicadas en esta estipulación.</p>

    <p></p><strong>Responsabilidad del usuario</strong></p>

    <p>El Usuario utilizará la Página Web por su propia cuenta y riesgo. Mediante su acceso a la misma, se obliga a utilizarlo conforme a lo dispuesto en la legislación y los códigos éticos que resulten aplicables, así como las condiciones contenidas en las presentes Condiciones de uso.</p>
    <p>El incumplimiento de cualquiera de las normas incluidas en estas Condiciones o de la legislación en la que las mismas se amparan, dará lugar a la responsabilidad del Usuario frente al titular de la Página Web y/o frente a terceros, por cualquier daño o perjuicio que pudiera causarse como consecuencia de dicho incumplimiento, con independencia de si ello implica la materialización de un ilícito, una sanción administrativa, una falta o un delito y dará derecho a al titular de la Página Web a, en su caso, exigir su responsabilidad en el ámbito civil, administrativo, laboral o penal que pudiera corresponder.</p>


    <p><strong>Responsabilidad del titular</strong></p>
    <p>El titular dela Página Web no se hace responsable de ningún daño causado al Usuario o terceros como consecuencia de un incumplimiento imputable al Usuario ni tampoco de la alteración en los equipos del Usuario.</p>
    <p>Asimismo, tampoco asume responsabilidad alguna por intromisiones ilegítimas mediante el uso de virus informáticos u otro cualquiera que sea su procedencia, el uso indebido de la Página Web por parte del Usuario ni errores de seguridad motivado por el incorrecto funcionamiento de los equipos terminales utilizados por el Usuario.</p>



    <h3>Hiperenlaces</h3>
    <p>Las menciones que en la Página Web se puedan realizar a otros sitios web de terceros, tendrán mero carácter informativo. El titular de la Página Web no desarrolla ni administra dichas páginas ni es titular de las direcciones de Internet citadas salvo que ello se indique de forma expresa. Por ello, éste no será responsable de los contenidos que aquéllas incorporen, ni por los daños o perjuicios derivados de dicho acceso, ni por los generados por los servicios que suministren.</p>
    <p>El titular de la Página Web autoriza el establecimiento de enlaces e hiperenlaces desde otras páginas web. No obstante, todo aquel que se proponga establecer un link entre su sitio web y la Página Web lo hará respetando las siguientes condiciones:</p>
    <ol>
        <li>La página web en la que se establezca el link no contendrá informaciones o contenidos ilícitos, contrarios a la moral, a las buenas costumbres, al orden público o a cualesquiera Derechos de terceros.</li>
        <li>No se declarará ni se dará a entender que el titular de la Página Web ha autorizado expresamente el link o que ha supervisado previamente, asumido o recomendado de cualquier forma los servicios ofrecidos o puestos a disposición en el sitio web que establece el link con la Página Web. Se recomienda por ello a quien navegue en la Página Web que extreme la prudencia en la valoración y utilización de la información, contenidos y servicios existentes en los sitios enlazados.</li>
        <li>El establecimiento del link no implica, en ningún caso, la existencia de relaciones entre el titular de la Página Web y el titular del sitio web en el que se incorpore dicho link.</li>
    </ol>


    <h3>Protección de datos de carácter personal</h3>
    <p>El titular de la Página Web se compromete a tratar los datos personales del Usuario de conformidad con lo establecido en la legislación vigente en dicha materia. En concreto, se compromete a aplicar lo dispuesto en la L.O. 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, en el Real Decreto 1720/2007, de 19 de enero, por el que se aprueba el Reglamento de desarrollo de la LOPD y en el Reglamento General de Protección de Datos 679/2016 de 27 de abril de 2016.</p>
    <p>La información completa sobre esta materia se encuentra en nuestra <a href="https://www.conocderde.com/politica-de-privacidad">Política de Privacidad</a>.</p>



    <h3>Legislación aplicable</h3>
    <p>Aquellas relaciones establecidas entre el Usuario y el titular de la Página Web, se regirán por lo dispuesto en la legislación vigente en relación con la normativa aplicable y la jurisdicción competente, siendo aplicables las normas del Ordenamiento Jurídico Español.</p>


</div>