<style type="text/css">

    .table_info{
        margin-left: 10%;
    }
    .table_info tr td{
        padding: 10px;
    }
    .container-cookies{
        margin-top: 20px;
    }
</style>

<h1 class="text-center">Política de cookies</h1>
<p>Nuestra web se complace en informar a sus usuarios con toda la transparencia, la política de cookies y el uso de ésta en nuestra página web.
    En esta sección encontrarás todos los detalles. Recordamos a los usuarios, que al continuar navegando por nuestro sitio web, entendemos que acepta el uso de cookies en su ordenador o dispositivo.
    Aconsejamos a los usuarios que visiten la presente política de cookies con frecuencia, ya que ésta puede ser actualizada en cualquier momento.</p>

<div class="container-cookies container">

    <h3>¿Qué son las cookies?</h3>
    <p>Las cookies son pequeños ficheros que se instalan en el navegador del usuario cuando éste accede a un sitio web. Las cookies permiten, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario, dependiendo del tipo de cookie y de la información que recauden, pueden utilizarse para reconocer al usuario.</p>


    <p><em>Tipos de cookies</em></p>

    <p>a) Según la entidad que gestiones las cookies:</p>
    <ul>
        <li><strong>Cookies propias:</strong> son aquellas que se envían al dispositivo o terminal del usuario desde nuestro equipo o dominio, además son gestionadas por nosotros mismos, como titulares y editores de la presente página web.</li>
        <li><strong>Cookies de terceros:</strong> son aquellas que son enviadas al dispositivo o terminal del usuario desde un equipo o dominio que no es gestionado por nosotros mismos, sino por un tercero que tratará la información obtenida a través de las cookies.</li>
    </ul>


    <p>b) Según el tiempo de conservación:</p>
    <ul>
        <li><strong>Cookies de sesión:</strong> son aquellas que obtinen y almacenan los datos cuando el usuario accede a la página web y cesan una vez que el usuario sale de ésta.</li>
        <li><strong>Cookies persistentes:</strong> son aquellas que tienen una duración determinada en el tiempo por el responsable del tratamiento. El tiempo de conservación puede variar entre unos minutos a varios años. Se utilizan para guardar y recuperar ciertos parámetros cada vez que el usuario visite la página web.</li>
    </ul>
    <p>c) Según su finalidad:</p>
    <ul>
        <li><strong>Cookies técnicas:</strong> son aquellas imprescindibles y estrictamente necesarias para el correcto funcionamiento de la página web y utilizar las diferentes opciones o servicios que ofrecemos. Por ejemplo, las que sirven para el mantenimiento de la sesión, la gestión del tiempo de respuesta, rendimiento o validación de opciones, utilizar elementos de seguridad, compartir contenido con redes sociales, etc.</li>
        <li><strong>Cookies de personalización:</strong> son aquellas que permiten que el usuario pueda especificar o personalizar algunas características de la página web. Por ejemplo, definir el idioma, configuración regional o tipo de navegador.</li>
        <li><strong>Cookies de análisis:</strong> son aquellas que nos permiten realizar un seguimiento y análisis del comportamiento del usuario en nuestra página web para elaborar perfiles de navegación y poder conocer las preferencias de los usuarios del mismo. Se suelen utilizar para medir la actividad del usuario con el objetivo de mejorar el servicio que le ofrecemos en función de los resultados que obtenemos. Por ejemplo, mediante una cookie analítica se controlarían las áreas geográficas de mayor interés de un usuario, cuál es el producto o servicio de más aceptación, etc.</li>
        <li><strong>Cookies publicitarias:</strong> son aquellas que nos permiten la gestión de los espacios publicitarios en los sitios web.</li>
        <li><strong>Cookies de publicidad comportamental:</strong> son aquellas que permiten la gestión de los espacios publicitarios de nuestra página web. La función de estas cookies es almacenar información del comportamiento de los usuarios en nuestra página web, para posteriormente mostrar publicidad personalizada.</li>
    </ul>

    <table class="table_info">
        <tbody>
        <tr>
            <td><strong>&nbsp;¿QUIÉN?&nbsp;</strong></td>
            <td>&nbsp;ConocerDe, y domicilio social en Calle La huerta 6, piso 1 Puerta A – 28921 Alcorcón Madrid (España).&nbsp;</td>
        </tr>
        <tr>
            <td><strong>&nbsp;¿QUÉ?&nbsp;</strong></td>
            <td>&nbsp;Las cookies son pequeños ficheros que se instalan en el navegador del usuario cuando éste accede a un sitio web.&nbsp;</td>
        </tr>
        <tr>
            <td><strong>&nbsp;¿CUÁLES?&nbsp;</strong></td>
            <td>&nbsp;Los tipos de cookies utilizados en el sitio web se especifican en el cuadro inferior.</td>
        </tr>
        <tr>
            <td><strong>&nbsp;¿POR Y PARA QUÉ?&nbsp;</strong></td>
            <td>&nbsp;Las finalidades de cada una de las cookies utilizadas son las que se indican en el cuadro inferior.</td>
        </tr>
        <tr>
            <td><strong>&nbsp;¿CUÁNDO?&nbsp;</strong></td>
            <td>&nbsp;Sus datos personales serán conservados mientras sea necesario para lograr la finalidad para la que fueron recogidos. En los supuestos de aquellas cookies que requieran su consentimiento previo, los datos serán conservados mientras usted no revoque el consentimiento otorgado.</td>
        </tr>
        <tr>
            <td><strong>&nbsp;¿DÓNDE?&nbsp;</strong></td>
            <td>&nbsp;Es posible que el responsable necesite transferir sus datos a terceros, al utilizar cookies de terceros, siempre con el objetivo de lograr las finalidades propuestas. Si por algún motivo se realizasen transferencias internacionales de datos fuera de la Unión Europea, se le informaría previamente y se solicitaría su consentimiento a tal efecto.</td>
        </tr>
        <tr>
            <td><strong>&nbsp;¿CÓMO?&nbsp;</strong></td>
            <td>&nbsp;Puede usted permitir o bloquear las cookies, así como borrar sus datos de navegación desde el navegador que usted utiliza. Consulte las opciones e instrucciones que ofrece su navegador para ello. Tenga en cuenta que, si acepta las cookies de terceros, deberá eliminarlas desde las opciones del navegador.</td>
        </tr>
        </tbody>
    </table>

    <h3><br>¿Quién es el responsable de sus datos?</h3>
    <p>Existe la posibilidad de que a través de una cookie se obtengan datos personales de los usuarios. El responsable de su recogida y tratamiento es la entidad ConocerDe, con domicilio social en Calle La huerta 6, piso 1 Puerta A – 28921 Alcorcón Madrid (España).</p>


    <h3>¿Qué cookies utilizamos?</h3>
    <p>En concreto, utilizamos cookies de los siguientes terceros con las finalidades especificadas:</p>
        <table class="table_info">
            <tbody>
            <tr>
                <td> Cookie </td>
                <td> Propósito </td>
            </tr>
            <tr>
                <td> _ga</td>
                <td>Medición interna con Google Analytics. Expira a los 2 años. Estas cookies almacenan un identificador único para reconocer al usuario las futuras ocasiones que visite el sitio web. Como consecuencia de ello, necesitamos su consentimiento para poder instalarlas.</td>
            </tr>
            <tr>
                <td> _gid</td>
                <td>Medición interna con Google Analytics. Expira a las 22 horas.<br />Estas cookies almacenan un identificador único para reconocer al usuario durante las 24 horas siguientes a su última actividad. Como consecuencia de ello, necesitamos su consentimiento para poder instalarlas.</td>
            </tr>
            <tr>
                <td> _fbp</td>
                <td>
                    <p>Cookie propiedad de doubleclick.net, utilizada por Facebook para ofrecer una serie de productos tales como publicidad, ofertas en tiempo real de anunciantes terceros. Expira a los 3 meses.</p>
                    <p>Al ser utilizadas por Facebook, es posible que se realicen transferencias de datos fuera de la Unión Europea, por lo que necesitamos su consentimiento para instalarlas.</p>
                </td>
            </tr>
            <tr>
                <td> DSID</td>
                <td>Propiedad de doubleclick.net. Esta cookie se utiliza para la orientación, el análisis y la optimización de las campañas publicitarias en DoubleClick / Google Marketing Suite. Expira a los 13 días.<br />Al ser utilizadas por Google, es posible que se realicen transferencias de datos fuera de la Unión Europea, por lo que necesitamos su consentimiento para instalarlas.<br /><br /></td>
            </tr>
            <tr>
                <td> IDE</td>
                <td>Propiedad de doubleclick.net. Esta cookie se utiliza para la orientación, el análisis y la optimización de las campañas publicitarias en DoubleClick / Google Marketing Suite. Expira a los 5 meses.<br />Al ser utilizadas por Google, es posible que se realicen transferencias de datos fuera de la Unión Europea, por lo que necesitamos su consentimiento para instalarlas.</td>
            </tr>
            </tbody>
        </table>

    <h3>¿Cómo deshabilitar o eliminar las cookies?</h3>
    <p>El responsable pone a disposición de los usuarios el correspondiente panel de configuración de las cookies. Gracias a este panel, los usuarios pueden aceptar o denegar todas y cada una de las cookies del sitio, tanto individual como colectivamente.</p>
    <p>Del mismo modo, los usuarios pueden, en cualquier momento, deshabilitar o eliminar las cookies enunciadas a través de la configuración de las opciones del navegador utilizado en su dispositivo o terminal. Los usuarios deben tener en cuenta que, si rechaza o borra las cookies de navegación para la página web, no podremos mantener sus preferencias y algunas características del mismo no estarán operativas, por lo que no podremos ofrecerle servicios personalizados y cada vez que vayan a navegar por nuestra página web tendremos que solicitarle de nuevo su autorización para el uso de cookies.</p>
    <p>A continuación, ofrecemos enlaces en los que el usuario encontrará información sobre cómo activar tus preferencias en los principales navegadores:</p>
    <ul>
        <li><a href="https://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647" target="_blank" rel="noopener noreferrer">Configuración de cookies para Google Chrome</a></li>
        <li><a href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&amp;redirectslug=Cookies" target="_blank" rel="noopener noreferrer">Configuración de cookies para Mozilla Firefox</a></li>
        <li><a href="https://support.microsoft.com/kb/196955/es" target="_blank" rel="noopener noreferrer">Configuración de cookies para Internet Explorer</a></li>
        <li><a href="https://support.apple.com/kb/HT1677?viewlocale=es_ES" target="_blank" rel="noopener noreferrer">Configuración de cookies para Safari</a></li>
    </ul>

    <h3>¿A quién van a ser comunicados sus datos?</h3>
    <p>Con carácter general, los datos de los usuarios obtenidos a través de las cookies propias de este sitio web, no serán transferidos a terceras personas.</p>
    <p>Sin embargo, con motivo de la utilización de cookies de terceros, es posible que los datos obtenidos sean transferidos fuera de la Unión Europea, debido a que estas cookies pueden estar alojadas fuera del Espacio Económico Europeo.</p>
    <p>Estas cookies que pueden encontrarse alojadas fuera de la UE son las siguientes:</p>
    <ul>
        <li>_ga y _gid: Son de Google Analytics, cuya Política de Cookies puede consultar en el siguiente link: <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookies-user-id?hl=es" target="_blank" rel="noopener noreferrer">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookies-user-id?hl=es</a></li>
        <li>DSID, IDE: Son de Google Doubleclick, cuya Política de Cookies puede consultar en el siguiente link: <a href="https://support.google.com/admanager/answer/2839090?hl=es" target="_blank" rel="noopener noreferrer">https://support.google.com/admanager/answer/2839090?hl=es</a></li>
        <li>-fbp: Es de Google Doubleclick, pero editada por Facebook, cuya Política de Cookies puede consultar en el siguiente link: <a href="https://www.facebook.com/about/privacy/" target="_blank" rel="noopener noreferrer">https://www.facebook.com/about/privacy/</a></li>
    </ul>

    <h3>Más información</h3>
    <p>Si tienes cualquier pregunta sobre cómo usamos las cookies, y no está contestada en esta Política de Cookies, por favor, mándenos tus comentarios a través del correo electrónico <a href="mailto:privacidad@conocerde.com">privacidad@conocerde.com</a>.</p>



</div>